body {
    background-color: #7387C4;
}


.collapse navbar-collapse{
    color: rgb(255, 253, 253);
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}

/* navbar start */
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 50px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color: black;
}

.container-fluid {
    background-color: #7387C4;
}
    
#home{
    width: 100%;
    height: 90vh;
    background-image:url(../images/backgroundhome_waifu2x_photo_noise0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
#home .content{
    padding-top: 70px;
    margin-left: 30px;
}
#home .content h3{
    font-size: 40px;
    font-variant: small-caps;
    color: #7387C4;
    
}
#home .content p{
    margin-top: 10px;
    font-style: initial;
    color: #7387C4;
    
}
/* home section end */

/* about section start */

#about{
    width: 100%;
    height: 90vh;
    background-image:url(../images/bgabout.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
#about{
    width: 100%;
    height: 100vh;
}
#about .container{
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color: #7387C4;
}
#about .card{
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;
}

@media screen and (max-width:982px){
    #about p{
        font-size: 8px;
    }
}
@media screen and (max-width:766px){
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vh;
    }
}
/* about section end */